/* Change the background colour of the 'Why choose us?' features from transparent to white */

.feature-box{
	background-color: white !important;
}

/* Add an underline effect when a link is hovered */

a:hover{
	text-decoration: underline !important;
}