/* Change the background colour of the 'Why choose us?' features from transparent to white */

.feature-box{
	background-color: white !important;
}

/* Add an underline effect when a link is hovered */

a:hover{
	text-decoration: underline !important;
}

/* Change the default min-height and height of the post previews */

.post{
	height: 300px !important;
	min-height: 300px !important;
}

/* Change the section titles to uppercase */

.section-title{
	text-transform: uppercase !important;
}

/* Change the border radius of the post previews */

.post{
	border-radius: 20px !important;
}